#header{
text-align: center;
font-size: 30px;
margin-top: 13px;
font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
#Modelbtn{
    font-size: 16px;
    text-align: center !important;
   
}

    #dwnModalbtn{
      background-color:#3fba9f !important;
        text-align: center !important;
        color: white;
        font-size: 16px;
    }
#dwnbtngrp{
    text-align: center;
}
#dwnIcon{
   
}
#Nobtn{
    font-size: 20px;
    border-radius: 27px;
    font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#dwnModalbtn{
    border-radius: 27px;
    font-size: 20px;
    font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.swiss_NEEDLENG{
    padding: 4px 13px 5px 14px;
    font-size: 12px!important;
    float: right;
    background-color: red !important;
    color: white !important;
   
 
    
 }
 .pdp_ftitle {
 
    font-size: 13px !important;
    color:#3fba9f;
  
    /* margin: 0rem 3rem 0px 0px !important; */
    float: left;
  }
 #foottext{
    color: red;
    font-size: 14px;
    float: right;
    margin-top: 120px;
  }
  .swiss_NEXT{
    padding: 4px 13px 5px 14px;
    font-size: 12px!important;
    float: right;
    background-color: #3fba9f !important;
    color: white !important;
 }
 .swiss_Itembar{
     margin-bottom:8px!important;
 }